body {
  color: #4e4e4e;
  margin: 0;
  font-family: "Lato", sans-serif;
  font-size: 19px;
}

h1 {
  color: #ffffff;
  font-family: "Marck Script", cursive;
  font-size: 4.444rem;
  font-weight: 300;
}

h2 {
  font-family: "Montserrat", sans-serif;
  color: #42224e;
  font-weight: bold;
  font-size: 1.8rem;

}

h3 {
  font-family: "Montserrat", sans-serif;
  color: #6f4280;
  font-size: 1.5rem;
}

a {
  color: #6f4280;
  text-decoration: none;
  text-align: center;
}

/* Navbar */
.nav-item {
  padding: .5rem;

}

.nav-link {
  font-size: 1.2rem;
}




/* Title Section */
#title {
  background-image: url('../images/background.png');
  padding-bottom: 620px;
  text-align: center;
}

.intro {
  margin-top: 3rem;
}

.intro p {
  color: #ffffff;
  font-size: 1.5rem;

}


/* Skills Section */
#skills {
  text-align: center;
}

#skills img {
  margin-bottom: 1.5rem;
  width: 12rem;
}

.profile {
  margin: 4rem 0 4rem 0;
}

.profile p {
  font-size: 1.2rem;
}

.profile span {
  font-weight: 600;
}

.design {
  margin-top: 1.6rem;
}

.develop {
  margin-top: 1.6rem;
}

.design p {
  margin: 0 2rem 4rem 2rem;
  line-height: 1.8;
}

.develop p {
  margin: 0 2rem 4rem 2rem;
  line-height: 1.8;
}




/* Footer */
footer {
  text-align: center;
  margin-top: 5rem;
}

.btn {
  border: 1px solid #6f4280;
  color: #ffffff;
  background-color: #6f4280;
  padding: 15px;
  border-radius: 5px;
}

.btn:hover {
  border: 1px solid #6f4280;
  color: #ffffff;
  background-color: #42224e;
  padding: 15px;
  border-radius: 5px;
}

.footer-link {
  padding: 0 8px 0 8px;
}

.footer-link:hover {
  text-decoration: underline;
  color: #6f4280;
}

/* Media Queries */
@media(max-width:688px) {

  #button1,
  #button2,
  #button3 {
    padding: 2% 4%;
  }

  footer h3 {
    font-size: 1.2rem;
  }

}

@media(max-width:1312px) {
  .nav-item {
    padding: 0;
  }

  h1 {
    font-size: 4rem;
  }

  footer {
    margin-top: 2rem;
  }

}