body {
    color: #4e4e4e;
    margin: 0;
    font-family: "Lato", sans-serif;
    font-size: 19px;
}

h1 {
    color: #42224e;
    font-family: "Montserrat", sans-serif;
    font-size: 4.444rem;
    font-weight: 300;
    margin-bottom: 2rem;
}

h2 {
    font-family: "Montserrat", sans-serif;
    color: #42224e;
    font-weight: bold;
    font-size: 1.8rem;

}

h3 {
    font-family: "Montserrat", sans-serif;
    color: #6f4280;
    font-size: 1.5rem;
}

a {
    color: #6f4280;
    text-decoration: none;
    text-align: center;
}

/* Navbar */
.nav-item {
    padding: .5rem;

}

.nav-link {
    font-size: 1.2rem;
}





/* Work Section */

#work {
    text-align: center;
    margin-top: 10rem;
    padding: 0 2% 0 2%;
}



#work h3 {
    font-size: 2rem;
    font-weight: bold;

}



.work-card {
    padding: 1%;

}


/* Show and hide */
#button1,
#button2,
#button3 {

    margin: 0 2%;
    padding: 2% 6%;
    border-radius: 5px;


}

#code {
    margin-top: 2rem;
}

#wordpress {
    margin-top: 2rem;
}

#prototype {
    margin-top: 2rem;
}




/* Footer */
footer {
    text-align: center;
    margin-top: 7rem;
}

.btn {
    border: 1px solid #6f4280;
    color: #ffffff;
    background-color: #6f4280;
    padding: 15px;
    border-radius: 5px;
}

.btn:hover {
    border: 1px solid #6f4280;
    color: #ffffff;
    background-color: #42224e;
    padding: 15px;
    border-radius: 5px;
}

.footer-link {
    padding: 0 8px 0 8px;
}

.footer-link:hover {
    text-decoration: underline;
    color: #6f4280;
}

/* Media Queries */
@media(max-width:688px) {

    #button1,
    #button2,
    #button3 {
        padding: 5%;

    }

    footer h3 {
        font-size: 1.2rem;
    }
}

@media(max-width:992px) {

    #work {
        margin-top: 2rem;
    }
}

@media(max-width:1312px) {
    .nav-item {
        padding: 0;
    }

    .work-card {
        padding: 3% 1%;
    }
}