body {
  color: #40514e;
  margin: 0;
  font-family: "Lato", sans-serif;
  font-size: 19px;
}

h1 {
  color: #ffffff;
  font-family: "Marck Script", cursive;
  font-size: 4.444rem;
  font-weight: 300;
}
h2 {
  font-family: "Montserrat", sans-serif;
  color: #42224e;
}
h3 {
  font-family: "Montserrat", sans-serif;
  color: #6f4280;
}

a {
  color: #6f4280;
  text-decoration: none;
  text-align: center;
}

.footer-link a:hover {
  text-decoration: underline;
}

.header ul li {
  display: inline;
  color: #ffffff;
  font-size: 1.2rem;
  position: relative;
  left: 500px;
  padding: 20px;
}
.header ul li:hover {
  text-decoration: underline;
}
.top-container {
  background-image: url("images/background.png");
  text-align: center;
  position: relative;
  padding-top: 15px;
  padding-bottom: 530px;
}
.top-container p {
  color: #ffffff;
  font-size: 1.5rem;
  position: relative;
  bottom: 35px;
}

.top-container span {
  font-size: 100px;
}
.middle-container {
  text-align: center;

  padding: 50px 0px 0px 0px;
}
.middle-container img {
  width: 10rem;
}
.middle-container span {
  font-weight: 600;
}

.bottom-container {
  text-align: center;
}

.skills {
  padding-top: 20px;
}
.skills img {
  width: 10rem;
}
.skill-row1 {
  width: 50%;
  margin: auto;
}
.skill-row2 {
  width: 50%;
  margin: auto;

  padding-bottom: 20px;
}

.btn {
  border: 1px solid #6f4280;
  color: #ffffff;
  background-color: #6f4280;
  padding: 15px;
  border-radius: 5px;
}
.btn:hover {
  border: 1px solid #6f4280;
  color: #ffffff;
  background-color: #42224e;
  padding: 15px;
  border-radius: 5px;
}
.footer-link {
  padding: 0 8px 0 8px;
}
.footer-link:hover {
  text-decoration: underline;
}
