body {
  margin: 0;
  font-family: "Lato", sans-serif;
  font-size: 19px;
}

h1 {
  color: #006a71;
  font-family: "Marck Script", cursive;
  font-size: 4.444rem;
  font-weight: 300;
}
h2 {
  font-family: "Montserrat", sans-serif;
  color: #006a71;
}
h3 {
  font-family: "Montserrat", sans-serif;
  color: #01929c;
}

.top-container {
  background-color: #cbeaed;
  text-align: center;
  position: relative;
  padding-top: 100px;
}
.top-container p {
  color: #006a71;
  font-size: 1.667rem;
  font-weight: 300;
}

.top-container span {
  font-size: 100px;
}
.middle-container {
  text-align: center;

  padding: 20px 0px 0px 0px;
}
.middle-container img {
  width: 10rem;
  margin-top: 20px;
}
.middle-container span {
  font-weight: 600;
}

.bottom-container {
  text-align: center;
  margin-top: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #ffffdd;
}
.bottom-container p {
  margin-bottom: 0;
}
.top-cloud {
  position: relative;
  left: 250px;
}
.bottom-cloud {
  position: relative;
  right: 200px;
}

.skills {
  padding-top: 20px;
}
.skills img {
  width: 10rem;
}
.skill-row {
  width: 50%;
}
